<div class="am-g am-g-fixed am-g-collapse">
  <div class="am-u-sm-12">
    <div>
      <ol class="am-breadcrumb">
        <li><a href="/topic">社区</a></li>
        <li class="am-active">发布新贴</li>
      </ol>
    </div>

    <form class="am-form" action='/topic/create' method='post'>
        <p><input type="text" class="am-form-field am-radius" name="title" placeholder="标题, 6个字以上" /></p>

        <div class="am-form-group">
          <label for="new_topic">内容</label>
          <textarea id="simpleMDE" class="" rows="5" name="content"></textarea>
        </div>

        <p><button type="submit" class="am-btn am-btn-primary">提交</button></p>
    </form>
  </div>
</div>

