<br/>
<div class="am-g am-g-fixed am-g-collapse">
  <div class="am-u-sm-12 topic">
    <div class="header">
      <div class="am-text-lg"><%= topic.title %></div>
      <div class="am-text-sm">
        <a href="#"><%= topic.author.loginname %></a> • 最后回复 
        <a href="#"><%= topic.last_reply_by %></a> <%= fromNow(topic.last_reply_at) %>
      </div>
    </div>

    <div class="body">
      <h2>this is body</h2>
    </div>
  </div>
</div>
<br/>

<article class="am-container am-comment"> <!-- 评论容器 -->
  <a href="">
    <img class="am-comment-avatar" src="https://ruby-china-files.b0.upaiyun.com/user/big_avatar/1141.jpg"/> <!-- 评论者头像 -->
  </a>

  <div class="am-comment-main"> <!-- 评论内容容器 -->
    <header class="am-comment-hd">
      <!--<h3 class="am-comment-title">评论标题</h3>-->
      <div class="am-comment-meta"> <!-- 评论元数据 -->
        <a href="#link-to-user" class="am-comment-author">feitian124</a> <!-- 评论者 -->
        评论于 <time datetime=""> 6天前 </time>
      </div>
    </header>

    <div class="am-comment-bd"> 不错不错真的不错哦 </div> <!-- 评论内容 -->
  </div>
</article>
<br/>


<article class="am-container am-comment"> <!-- 评论容器 -->
  <a href="">
    <img class="am-comment-avatar" src="https://ruby-china-files.b0.upaiyun.com/user/big_avatar/1141.jpg"/> <!-- 评论者头像 -->
  </a>

  <div class="am-comment-main"> <!-- 评论内容容器 -->
    <header class="am-comment-hd">
      <!--<h3 class="am-comment-title">评论标题</h3>-->
      <div class="am-comment-meta"> <!-- 评论元数据 -->
        <a href="#link-to-user" class="am-comment-author">feitian124</a> <!-- 评论者 -->
        评论于 <time datetime=""> 6天前 </time>
      </div>
    </header>

    <div class="am-comment-bd"> 不错不错真的不错哦 </div> <!-- 评论内容 -->
  </div>
</article>
<br/>
