<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h2>注册</h2>
    <hr>
    <form method="post" class="am-form" action="/user">
      <label for="email">邮箱:</label>
      <input type="email" name="email" id="email">
      <br>
      <label for="password">密码:</label>
      <input type="password" name="password" id="password">
      <br>
      <div class="am-cf">
        <input type="submit" value="注 册" class="am-btn am-btn-primary am-btn-sm">
      </div>
    </form>
    <hr>
  </div>
</div>
