body {
  /* background-color: #E7EAEC; */
  font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti!important;
}
.header {
  text-align: center;
}
.header h1 {
  font-size: 200%;
  color: #333;
  margin-top: 3rem;
}
.header p {
  font-size: 1.4rem;
}

.am-pagination li a {
  padding: 0.6rem 1.2rem;
}

.am-popover-inner {
  padding: 0.2rem;
  font-size: 1rem;
}
