.topic-list {
  padding: 5px 2px;
  border-top: 1px solid rgb(240, 240, 240);
  &:nth-of-type(1) {
    border-top: none;
  }
  .title {
    padding-left: 5px;
  }
  .meta {
    padding-left: 5px;
    color: #aaa;
    a {
      color: #666;
    }
  }
}

