.topic-list {
  padding: 0.5rem 0.2rem;
  border-top: 1px solid #dedede;
  &:nth-of-type(1) {
    border-top: none;
  }
  .title {
    padding-left: 0.5rem;
  }
  .meta {
    padding-left: 0.5rem;
    color: #aaa;
    a {
      color: #666;
    }
  }
}

.topic {
  border: 1px solid #dedede;
  border-radius: 0.5rem;
  margin-top: 2rem;
  .header {
    padding: 0.8rem;
    text-align: left;
    border-bottom: 1px solid #dedede;
  }
  .body {
    padding: 0.8rem;
    min-height: 5rem;
  }
}
